<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <script>
            console.log("Promise-Based Function:");
            function getProfileData(){
                return fetchUserData(101).then((data)=>{
                    console.log("User data received:",data);
                });
            }
            console.log("Refactored with Async/Await:");
            async function getProfileData(){
                const fetchUserData=(id)=>new Promise(res=>setTimeout(()=>
            res({id,name:"Alex"}),500));
            console.log("Fetching user data...");
            const data=await fetchUserData(101);
            console.log("User data received:",data);
            return data;
            }
            getProfileData();
        </script>
    </body>
</html>