<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <script>
          let n1=10;
          let n2=15;
          if(n1<n2)
          {
            console.log("n1 is lesser than n2");
          }
           if(n1>n2){
            console.log("n1 is greater than n2");
          }
          if(n1<=n2){
            console.log("n1 is lesser than or equal to n2");
          }
          if(n1>=n2){
            console.log("n1 is greater than or equal to n2");
          }
        </script>
    </body>
    </html>