<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script>
            let word="Hello";
            let n=10;
            let isAdult=true;
            let action=null;
            let value;
            let myObj={
                name:"Shri",
                id:101
            };
            console.log("word:",word);
            console.log("n:",n);
            console.log("action:",action);
            console.log("myObj:",myObj);
            console.log("value:",value);
        </script>
    </body>
</html>