<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <script>
            "use strict";
            let x=10;
            console.log(x);
            delete(x);
            console.log(x);
            function myFunction(){};
            delete(myFunction);
            console.log(myFunction);
             
            function demo(y){
                    delete(y);
                    console.log(y);
             }
             demo(20);
             
        </script>
    </body>
</html>