<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <script>
         let user=true;
         let status="active"
         if(user==true && status=="active")
         {
            console.log("user is available and active");
         }
         else if(user==true || user=="active"){
            console.log("user is either available or acive");
         }
         else if(!user){
            console.log("user is not available");
         }
         else{
            console.log("user is not active");
         }
        </script>
    </body>
    </html>