<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <script>
            let val1=2,val2=4;
            if(val1 && val2){
                console.log("Both val1 and val2 are not zero");
            }
            else if(!val1 && !val2){
                console.log("Both val1 and val2 are zero");
            }
            else if(!val1){
                console.log("val1 is zero");
            }
            else{
                console.log("val2 is zero");
            }
        </script>
    </body>
</html>