<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <script>
           let x=10;
           let y=5;
           console.log("Value of x:",x);
           console.log("Value of y:",y);
           let add=x+y;
           console.log("Addition:",add);
           let sub=x-y;
           console.log("Subtraction:",sub);
           let mul=x*y;
           console.log("Multiplication:",mul);
           let div=x/y;
           console.log("Division:",div);
           let mod=x%y;
           console.log("Modulo:",mod);
        </script>
    </body>
</html>
