<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <script>
            let bool=true;
            console.log("Boolean value:",bool);
            let str1=String(bool);
            console.log("Boolean converted to String:",str1);
            let str2=bool.toString();
            console.log("Boolean converted to String:",str2);
            let string="false";
            console.log("String value:",string);
            let bool1=Boolean(string);
            console.log("String converted to Boolean:",bool1);
            let bool2=!!string;
            console.log("String converted to Boolean:",bool2);
        </script>
    </body>
</html>
