<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script>
            let word="Hello";
            let n=10;
            let isAdult=true;
            let action=null;
            let value;
            let myObj={
                name:"Shri",
                id:101
            };
            console.log("Type of word:",typeof(word));
            console.log("Type of n:",typeof(n));
            console.log("Type of action:",typeof(action));
            console.log("Type of myObj:",typeof(myObj));
            console.log("Type of value:",typeof(value));
        </script>
    </body>
</html>